<h2>Reporter output</h2><table><tr><td><div "result">I am on Home Page (PASSED : 4s)</div></td></tr>
<tr><td><div "result">I enter &quot;New York&quot; in the Your City Name search box and i click on the search button (PASSED : 6s)</div></td></tr>
<tr><td><div "result">I check the weather details (PASSED : 0s)</div></td></tr>
</table>